<!DOCTYPE html>
<html>
  <head>
    <title>SkillsForKerala</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <base href="/x/" />
  </head>

  <body>
    <%= yield %>

    <%= render "layouts/facebook" %>
  </body>
</html>
